/* everything settings */
body {
    margin: 0;     
  }
  html{
    font-family: 'Courier New', Courier, monospace;
}

/* heading */
.heading{
    padding:8px;
    border-bottom:2px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-color: black;
    border-style: inset;
    margin: 0px;
    display:flex;
    position:fixed;
    margin-top: -110px;
    width:100%;
    background-color: rgb(244, 255, 244);
    align-items: center;
}
.title{
    flex:6;
    margin-left:10px;
}
.social{
    flex:1;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    margin:8px;
}

/* content global styling */
.contents{
    margin-top:110px;
}

/* sidebar styling */
.sidebarImage{
    max-width: 100px;
    max-height: 100px;
    margin:8px;
    border-radius: 8px;
    
}

.careerContainer{
    display:flex;
}

.job{
    font-size: 1.2em;
    font-weight: 700;
}
.careerJourney,
.projects{
    background-color: aliceblue;
    border-radius: 8px;
    padding:5px;
    margin-left: 5px;
    border:1px;
    border-style: inset;
    border-color: black;
    margin-bottom:10px;
}

.projects{
    background-color: rgb(255, 240, 245);
}



